#sib-container input:-ms-input-placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
}

#sib-container input::placeholder {
text-align: left;
font-family: "Helvetica", sans-serif;
color: #c0ccda;
}

#sib-container textarea::placeholder {
text-align: left;
font-family: "Helvetica", sans-serif;
color: #c0ccda;
}